/**
 * modified version of eric meyer's reset 2.0
 * http://meyerweb.com/eric/tools/css/reset/
 */
/**
 * basic reset
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, main,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/**
 * HTML5 display-role reset for older browsers
 */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section,
main, summary {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * modified version of normalize.css 3.0.2
 * http://necolas.github.io/normalize.css/
 */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

/**
 * HTML5 display definitions
 * =============================================================================
 */
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/**
 * Links
 * =============================================================================
 */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * Text-level semantics
 * =============================================================================
 */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * 1. Address styling not present in Safari and Chrome.
 * 2. Set previously resetted italic font-style
 */
dfn,
i, em {
  font-style: italic; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/**
 * Embedded content
 * =============================================================================
 */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/**
 * Grouping content
 * =============================================================================
 */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

/**
 * Forms
 * =============================================================================
 */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: none; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/**
 * responsive viewport
 */
@viewport {
  width: device-width; }
/**
 * inherit box model
 */
*,
*::before,
*::after {
  box-sizing: inherit; }

/**
 * iOS "clickable elements" fix for role="button"
 *
 * Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
 * for traditionally non-focusable elements with role="button"
 * see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
 */
[role="button"] {
  cursor: pointer; }

/**
 * Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
 *
 * In particular, unlike most other browsers, IE11+Edge on Windows 10 on touch devices and IE Mobile 10-11
 * DON'T remove the click delay when `<meta name="viewport" content="width=device-width">` is present.
 * However, they DO support removing the click delay via `touch-action: manipulation`.
 * See:
 * - http://v4-alpha.getbootstrap.com/content/reboot/#click-delay-optimization-for-touch
 * - http://caniuse.com/#feat=css-touch-action
 * - http://patrickhlauke.github.io/touch/tests/results/#suppressing-300ms-delay
 */
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

/**
 * Always hide an element with the `hidden` HTML attribute (from PureCSS).
 */
[hidden] {
  display: none !important; }

/* MMenu */
/*
	jQuery.mmenu panels CSS
*/
.mm-menu.mm-horizontal > .mm-panel {
  -webkit-transition: left 0.4s ease;
  -moz-transition: left 0.4s ease;
  -ms-transition: left 0.4s ease;
  -o-transition: left 0.4s ease;
  transition: left 0.4s ease; }

.mm-menu .mm-hidden {
  display: none; }

.mm-wrapper {
  overflow-x: hidden;
  position: relative; }

.mm-menu {
  background: #FFFFFF;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0; }
  .mm-menu > .mm-panel {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background: inherit;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 0; }
    .mm-menu > .mm-panel.mm-opened {
      left: 0%; }
    .mm-menu > .mm-panel.mm-subopened {
      left: -40%; }
    .mm-menu > .mm-panel.mm-highest {
      z-index: 1; }
  .mm-menu .mm-list {
    padding: 20px 0; }
  .mm-menu > .mm-list {
    padding: 20px 0 40px 0; }

.mm-panel > .mm-list {
  margin-left: -20px;
  margin-right: -20px; }
  .mm-panel > .mm-list:first-child {
    padding-top: 0; }

.mm-list,
.mm-list > li {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0; }

.mm-list {
  font: inherit; }
  .mm-list a,
  .mm-list a:hover {
    text-decoration: none; }
  .mm-list > li {
    position: relative; }
    .mm-list > li > a {
      background: #FFFFFF;
      border-bottom: 1px solid #888888;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box; }
    .mm-list > li > a,
    .mm-list > li > span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: inherit;
      line-height: 20px;
      display: block;
      padding: 10px 10px 10px 20px;
      margin: 0; }
      .mm-list > li > a:hover,
      .mm-list > li > span:hover {
        background: #F9792F;
        color: #FFFFFF; }
  .mm-list > li:not(.mm-label):not(.mm-search):not(.mm-noresults):after {
    width: auto;
    position: relative;
    left: auto; }
  .mm-list a.mm-subopen {
    width: 40px;
    height: 100%;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2; }
    .mm-list a.mm-subopen:before {
      content: '';
      border-left-width: 1px;
      border-left-style: solid;
      display: block;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0; }
    .mm-list a.mm-subopen:hover:before {
      border-color: #888888; }
    .mm-list a.mm-subopen.mm-fullsubopen {
      width: 100%; }
      .mm-list a.mm-subopen.mm-fullsubopen:before {
        border-left: none; }
    .mm-list a.mm-subopen + a,
    .mm-list a.mm-subopen + span {
      padding-right: 5px;
      margin-right: 40px; }
  .mm-list > li.mm-selected > a.mm-subopen {
    background: transparent; }
  .mm-list > li.mm-selected > a.mm-fullsubopen + a,
  .mm-list > li.mm-selected > a.mm-fullsubopen + span {
    padding-right: 45px;
    margin-right: 0; }
  .mm-list a.mm-subclose {
    text-indent: 20px; }
  .mm-list > li.mm-label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    text-indent: 20px;
    line-height: 25px;
    padding-right: 5px; }
  .mm-list > li.mm-spacer {
    padding-top: 40px; }
    .mm-list > li.mm-spacer.mm-label {
      padding-top: 25px; }
  .mm-list a.mm-subopen:before:hover:before {
    border-color: #888888; }
  .mm-list a.mm-subopen:after,
  .mm-list a.mm-subclose:before {
    content: '';
    border: 2px solid transparent;
    display: block;
    width: 7px;
    height: 7px;
    margin-bottom: -4px;
    position: absolute;
    bottom: 50%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-color: #F9792F; }
  .mm-list a.mm-subopen:hover:after,
  .mm-list a.mm-subclose:hover:before {
    border-color: #FFFFFF; }
  .mm-list a.mm-subopen:after {
    border-top: none;
    border-left: none;
    right: 17px; }
  .mm-list a.mm-subclose:before {
    border-right: none;
    border-bottom: none;
    left: 20px; }
  .mm-list .mm-subtitle a.mm-subclose:before {
    border-color: #F9792F; }
  .mm-list .mm-subtitle a.mm-subclose:hover:before {
    border-color: #888888; }

.mm-menu.mm-vertical .mm-list .mm-panel {
  display: none;
  padding: 10px 0 10px 10px; }
  .mm-menu.mm-vertical .mm-list .mm-panel li:last-child:after {
    border-color: transparent; }
.mm-menu.mm-vertical .mm-list li.mm-opened > .mm-panel {
  display: block; }
.mm-menu.mm-vertical .mm-list > li.mm-opened > a.mm-subopen {
  height: 40px; }
  .mm-menu.mm-vertical .mm-list > li.mm-opened > a.mm-subopen:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 16px;
    right: 16px; }

html.mm-opened .mm-page {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }

.mm-ismenu {
  background: #FFFFFF;
  color: #F9792F; }

.mm-menu .mm-list > li:after {
  border-color: #888888; }
.mm-menu .mm-list > li > a.mm-subclose, .mm-menu .mm-list > li > a.mm-subclose:hover {
  background: #888888;
  color: #F9792F; }
.mm-menu .mm-list > li > a.mm-subclose:before, .mm-menu .mm-list > li > a.mm-subclose:hover:before, .mm-menu .mm-list > li > a.mm-subopen:after {
  border-color: #F9792F; }
.mm-menu .mm-list > li > a.mm-subopen:hover:after {
  border-color: #FFFFFF; }
.mm-menu .mm-list > li > a.mm-subopen:hover:before {
  border-left: 1px solid #FFFFFF; }
.mm-menu .mm-list > li.mm-selected > a:not(.mm-subopen),
.mm-menu .mm-list > li.mm-selected > span {
  background: #888888; }
.mm-menu .mm-list > li.mm-label {
  background: #F9792F; }
.mm-menu.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
.mm-menu.mm-vertical .mm-list li.mm-opened > ul {
  background: #F9792F; }

/* Off canvas */
/*
	jQuery.mmenu offcanvas addon CSS
*/
.mm-page,
.mm-fixed-top,
.mm-fixed-bottom {
  -webkit-transition: none 0.4s ease;
  -moz-transition: none 0.4s ease;
  -ms-transition: none 0.4s ease;
  -o-transition: none 0.4s ease;
  transition: none 0.4s ease;
  -webkit-transition-property: top, right, bottom, left, border;
  -moz-transition-property: top, right, bottom, left, border;
  -ms-transition-property: top, right, bottom, left, border;
  -o-transition-property: top, right, bottom, left, border;
  transition-property: top, right, bottom, left, border; }

.mm-page,
#mm-blocker {
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.mm-page {
  border: 0px solid transparent; }

html.mm-opening .mm-page {
  border: 0px solid rgba(1, 1, 1, 0); }

.mm-fixed-top,
.mm-fixed-bottom {
  position: fixed;
  left: 0; }

.mm-fixed-top {
  top: 0; }

.mm-fixed-bottom {
  bottom: 0; }

html.mm-opened {
  overflow: hidden;
  position: relative; }
  html.mm-opened body {
    overflow: hidden; }

html.mm-opened .mm-page {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }

html.mm-background .mm-page {
  background: inherit; }

#mm-blocker {
  -webkit-transition: none 0.4s ease;
  -moz-transition: none 0.4s ease;
  -ms-transition: none 0.4s ease;
  -o-transition: none 0.4s ease;
  transition: none 0.4s ease;
  -webkit-transition-property: top, right, bottom, left, border;
  -moz-transition-property: top, right, bottom, left, border;
  -ms-transition-property: top, right, bottom, left, border;
  -o-transition-property: top, right, bottom, left, border;
  transition-property: top, right, bottom, left, border;
  opacity: 0.5;
  background: #000000;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999999; }

html.mm-opened #mm-blocker,
html.mm-blocking #mm-blocker {
  display: block; }

.mm-menu.mm-offcanvas {
  display: none;
  position: fixed; }
.mm-menu.mm-current {
  display: block; }

html.mm-opening .mm-page,
html.mm-opening #mm-blocker,
html.mm-opening .mm-fixed-top,
html.mm-opening .mm-fixed-bottom {
  left: 80%; }

.mm-menu {
  width: 80%; }

@media all and (max-width: 175px) {
  .mm-menu {
    width: 140px; }

  html.mm-opening .mm-page,
  html.mm-opening #mm-blocker,
  html.mm-opening .mm-fixed-top,
  html.mm-opening .mm-fixed-bottom {
    left: 140px; } }
@media all and (min-width: 550px) {
  .mm-menu {
    width: 440px; }

  html.mm-opening .mm-page,
  html.mm-opening #mm-blocker,
  html.mm-opening .mm-fixed-top,
  html.mm-opening .mm-fixed-bottom {
    left: 440px; } }
/*
	jQuery.mmenu searchfield addon CSS
*/
.mm-search,
.mm-search input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.mm-list > li.mm-search {
  padding: 10px;
  margin-top: -20px; }

div.mm-panel > div.mm-search {
  padding: 0 0 10px 0; }

.mm-menu.mm-hasheader .mm-list > li.mm-search {
  margin-top: 0; }

.mm-search {
  background: inherit;
  width: 100%;
  padding: 15px;
  position: relative;
  top: 0;
  z-index: 2;
  height: 110px; }
  .mm-search input {
    border: none;
    border-radius: 0;
    font: inherit;
    line-height: 80px;
    outline: none;
    display: block;
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0 20px;
    background: #FFFFFF; }

.mm-menu .mm-noresultsmsg {
  text-align: center;
  font-size: 2rem;
  display: none;
  padding: 60px 0; }
  .mm-menu .mm-noresultsmsg:after {
    border: none !important; }

.mm-noresults .mm-noresultsmsg {
  display: block; }

.mm-menu li.mm-nosubresults > a.mm-subopen {
  display: none; }
  .mm-menu li.mm-nosubresults > a.mm-subopen + a,
  .mm-menu li.mm-nosubresults > a.mm-subopen + span {
    padding-right: 10px; }
.mm-menu.mm-hassearch > .mm-panel {
  padding-top: 110px; }
  .mm-menu.mm-hassearch > .mm-panel > .mm-list:first-child {
    margin-top: -20px; }
.mm-menu.mm-hasheader > .mm-panel > div.mm-search:first-child {
  margin-top: -10px; }
  .mm-menu.mm-hasheader > .mm-panel > div.mm-search:first-child + .mm-list {
    padding-top: 0; }

.mm-menu .mm-search input {
  background: #FFFFFF;
  color: #888888; }
.mm-menu .mm-noresultsmsg {
  color: #F9792F; }

/*
	jQuery.mmenu position extension CSS
*/
.mm-menu.mm-top {
  width: 100%; }

html.mm-top.mm-opened .mm-page,
html.mm-top.mm-opened #mm-blocker {
  top: 0%; }

html.mm-top.mm-opened.mm-opening .mm-page,
html.mm-top.mm-opened.mm-opening #mm-blocker,
html.mm-top.mm-opened.mm-opening .mm-fixed-top,
html.mm-top.mm-opened.mm-opening .mm-fixed-bottom {
  left: 0; }

.mm-menu.mm-right {
  left: auto;
  right: 0; }

html.mm-right.mm-opened .mm-page,
html.mm-right.mm-opened #mm-blocker,
html.mm-right.mm-opened .mm-fixed-top,
html.mm-right.mm-opened .mm-fixed-bottom {
  left: auto;
  right: 0%; }

html.mm-right.mm-opened.mm-opening .mm-page,
html.mm-right.mm-opened.mm-opening #mm-blocker,
html.mm-right.mm-opened.mm-opening .mm-fixed-top,
html.mm-right.mm-opened.mm-opening .mm-fixed-bottom {
  left: auto; }

.mm-menu.mm-bottom {
  width: 100%;
  top: auto;
  bottom: 0; }

html.mm-bottom.mm-opened .mm-page,
html.mm-bottom.mm-opened #mm-blocker {
  bottom: 0%;
  top: auto; }

html.mm-bottom.mm-opened.mm-opening .mm-page,
html.mm-bottom.mm-opened.mm-opening #mm-blocker,
html.mm-bottom.mm-opened.mm-opening .mm-fixed-top,
html.mm-bottom.mm-opened.mm-opening .mm-fixed-bottom {
  top: auto;
  left: 0; }

.mm-menu.mm-top {
  height: 80%; }

html.mm-top.mm-opening .mm-page,
html.mm-top.mm-opening #mm-blocker,
html.mm-top.mm-opening .mm-fixed-top {
  top: 80%; }
html.mm-top.mm-opening .mm-fixed-bottom {
  bottom: -80%; }

@media all and (max-height: 175px) {
  .mm-menu.mm-top {
    height: 140px; }

  html.mm-top.mm-opening .mm-page,
  html.mm-top.mm-opening #mm-blocker,
  html.mm-top.mm-opening .mm-fixed-top {
    top: 140px; }
  html.mm-top.mm-opening .mm-fixed-bottom {
    bottom: -140px; } }
@media all and (min-height: 1100px) {
  .mm-menu.mm-top {
    height: 880px; }

  html.mm-top.mm-opening .mm-page,
  html.mm-top.mm-opening #mm-blocker,
  html.mm-top.mm-opening .mm-fixed-top {
    top: 880px; }
  html.mm-top.mm-opening .mm-fixed-bottom {
    bottom: -880px; } }
.mm-menu.mm-right {
  width: 80%; }

html.mm-right.mm-opening .mm-page,
html.mm-right.mm-opening #mm-blocker,
html.mm-right.mm-opening .mm-fixed-top,
html.mm-right.mm-opening .mm-fixed-bottom {
  right: 80%; }

@media all and (max-width: 175px) {
  .mm-menu.mm-right {
    width: 140px; }

  html.mm-right.mm-opening .mm-page,
  html.mm-right.mm-opening #mm-blocker,
  html.mm-right.mm-opening .mm-fixed-top,
  html.mm-right.mm-opening .mm-fixed-bottom {
    right: 140px; } }
@media all and (min-width: 550px) {
  .mm-menu.mm-right {
    width: 440px; }

  html.mm-right.mm-opening .mm-page,
  html.mm-right.mm-opening #mm-blocker,
  html.mm-right.mm-opening .mm-fixed-top,
  html.mm-right.mm-opening .mm-fixed-bottom {
    right: 440px; } }
.mm-menu.mm-bottom {
  height: 80%; }

html.mm-bottom.mm-opening .mm-page,
html.mm-bottom.mm-opening #mm-blocker,
html.mm-bottom.mm-opening .mm-fixed-bottom {
  bottom: 80%; }
html.mm-bottom.mm-opening .mm-fixed-top {
  top: -80%; }

@media all and (max-height: 175px) {
  .mm-menu.mm-bottom {
    height: 140px; }

  html.mm-bottom.mm-opening .mm-page,
  html.mm-bottom.mm-opening #mm-blocker,
  html.mm-bottom.mm-opening .mm-fixed-bottom {
    bottom: 140px; }
  html.mm-bottom.mm-opening .mm-fixed-top {
    top: -140px; } }
@media all and (min-height: 1100px) {
  .mm-menu.mm-bottom {
    height: 880px; }

  html.mm-bottom.mm-opening .mm-page,
  html.mm-bottom.mm-opening #mm-blocker,
  html.mm-bottom.mm-opening .mm-fixed-bottom {
    bottom: 880px; }
  html.mm-bottom.mm-opening .mm-fixed-top {
    top: -880px; } }
/*
	jQuery.mmenu z-position extension CSS
*/
html.mm-front.mm-opened .mm-page {
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important; }

.mm-menu.mm-front,
.mm-menu.mm-next {
  -webkit-transition: none 0.4s ease;
  -moz-transition: none 0.4s ease;
  -ms-transition: none 0.4s ease;
  -o-transition: none 0.4s ease;
  transition: none 0.4s ease;
  -webkit-transition-property: top, right, bottom, left, -webkit-transform;
  -moz-transition-property: top, right, bottom, left, -moz-transform;
  -ms-transition-property: top, right, bottom, left, -o-transform;
  -o-transition-property: top, right, bottom, left, -o-transform;
  transition-property: top, right, bottom, left, transform; }

html.mm-front .mm-page,
html.mm-front #mm-blocker {
  z-index: 0; }

.mm-menu.mm-front {
  z-index: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }

html.mm-opened.mm-next .mm-page {
  box-shadow: none; }

html.mm-opening .mm-menu.mm-front, html.mm-opening .mm-menu.mm-next {
  left: 0%; }

.mm-menu.mm-top.mm-front, .mm-menu.mm-top.mm-next {
  left: 0; }

html.mm-opening .mm-menu.mm-top.mm-front, html.mm-opening .mm-menu.mm-top.mm-next {
  left: 0;
  top: 0%; }

.mm-menu.mm-right.mm-front, .mm-menu.mm-right.mm-next {
  left: auto; }

html.mm-opening .mm-menu.mm-right.mm-front, html.mm-opening .mm-menu.mm-right.mm-next {
  left: auto;
  right: 0%; }

.mm-menu.mm-bottom.mm-front, .mm-menu.mm-bottom.mm-next {
  top: auto;
  left: 0; }

html.mm-opening .mm-menu.mm-bottom.mm-front, html.mm-opening .mm-menu.mm-bottom.mm-next {
  left: 0;
  bottom: 0%; }

.mm-menu.mm-front, .mm-menu.mm-next {
  left: -80%; }

@media all and (max-width: 175px) {
  .mm-menu.mm-front, .mm-menu.mm-next {
    left: -140px; } }
@media all and (min-width: 550px) {
  .mm-menu.mm-front, .mm-menu.mm-next {
    left: -440px; } }
.mm-menu.mm-top.mm-front, .mm-menu.mm-top.mm-next {
  top: -80%; }

@media all and (max-height: 175px) {
  .mm-menu.mm-top.mm-front, .mm-menu.mm-top.mm-next {
    top: -140px; } }
@media all and (min-height: 1100px) {
  .mm-menu.mm-top.mm-front, .mm-menu.mm-top.mm-next {
    top: -880px; } }
.mm-menu.mm-right.mm-front, .mm-menu.mm-right.mm-next {
  right: -80%; }

@media all and (max-width: 175px) {
  .mm-menu.mm-right.mm-front, .mm-menu.mm-right.mm-next {
    right: -140px; } }
@media all and (min-width: 550px) {
  .mm-menu.mm-right.mm-front, .mm-menu.mm-right.mm-next {
    right: -440px; } }
.mm-menu.mm-bottom.mm-front, .mm-menu.mm-bottom.mm-next {
  bottom: -80%; }

@media all and (max-height: 175px) {
  .mm-menu.mm-bottom.mm-front, .mm-menu.mm-bottom.mm-next {
    bottom: -140px; } }
@media all and (min-height: 1100px) {
  .mm-menu.mm-bottom.mm-front, .mm-menu.mm-bottom.mm-next {
    bottom: -880px; } }
html.mm-front .mm-fixed-top,
html.mm-front .mm-fixed-bottom,
html.mm-opening.mm-front .mm-fixed-top,
html.mm-opening.mm-front .mm-fixed-bottom {
  left: 0;
  right: auto; }
html.mm-front .mm-fixed-top,
html.mm-opening.mm-front .mm-fixed-top {
  top: 0; }
html.mm-front .mm-fixed-bottom,
html.mm-opening.mm-front .mm-fixed-bottom {
  bottom: 0; }

.header {
  height: 80px;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #FFFFFF; }

.header__logo {
  float: left;
  display: block;
  margin-top: 20px;
  margin-left: 20px; }

.header__right-container {
  float: right;
  padding-right: 30px;
  padding-top: 16px; }
  @media (min-width: 992px) {
    .header__right-container {
      padding-right: 78px; } }

.header__nav-blcok {
  float: right; }

.header__search-block {
  display: none;
  position: absolute;
  right: 0;
  top: 0; }
  @media (min-width: 992px) {
    .header__search-block {
      display: block; } }

.navigation {
  float: left;
  margin: 0;
  padding: 0;
  display: none; }
  @media (min-width: 992px) {
    .navigation {
      display: block; } }

.navigation__list {
  clear: both; }

@media (min-width: 992px) {
  .navigation__item {
    display: block;
    color: #222222;
    float: left;
    position: relative; }
    .navigation__item a {
      text-decoration: none;
      color: #222222;
      font-family: "Open Sans", sans-serif;
      font-size: 16;
      margin: 15px 14px;
      display: block;
      float: left; }
      .navigation__item a:hover {
        color: #F9792F; } }

.navigation__mobile-nav {
  display: none; }

.navigation__trigger-mobile-nav {
  display: block;
  text-indent: -9999px;
  cursor: pointer;
  float: right;
  margin: 13px 0 0 0;
  padding: 0;
  width: 26px;
  height: 26px;
  background: url("../img/icons/menu-mobile.png") no-repeat center center; }
  @media (min-width: 992px) {
    .navigation__trigger-mobile-nav {
      display: none; } }

.mm-list > li > span {
  text-transform: uppercase;
  color: #222222; }
  .mm-list > li > span:hover {
    background-color: transparent;
    color: #222222; }

.mm-list > li > a {
  font-family: "Open Sans", sans-serif; }

.mm-menu.mm-hassearch > .mm-panel {
  padding-top: 70px; }

.mm-menu .mm-search {
  height: 70px;
  position: relative; }
  .mm-menu .mm-search:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 23px;
    width: 23px;
    height: 23px;
    background: url("../img/icons/icon-search.png") center center no-repeat; }
  .mm-menu .mm-search input {
    background: none;
    padding: 0 0 0 30px;
    border-bottom: 1px solid #222222;
    height: 40px;
    line-height: 40px; }

@media (min-width: 992px) {
  #mm-menu {
    display: none; } }

.search {
  -webkit-transition: width ease-in-out 300ms;
  -moz-transition: width ease-in-out 300ms;
  transition: width ease-in-out 300ms;
  width: 80px;
  height: 80px;
  max-width: 100%;
  overflow: hidden; }
  .search.active {
    width: 560px; }

.search__trigger, .search__submit {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  width: 80px;
  height: 80px;
  background: url("../img/icons/icon-search.png") no-repeat center center #FFFFFF;
  z-index: 2; }

.search__submit {
  text-indent: -9999px;
  padding: 0;
  border: none; }
  .search__submit:hover {
    background: url("../img/icons/icon-search.png") no-repeat center center #FFFFFF; }

.search__container {
  -webkit-transition: opacity ease-in-out 300ms;
  -moz-transition: opacity ease-in-out 300ms;
  transition: opacity ease-in-out 300ms;
  position: absolute;
  right: 0;
  top: 0;
  height: 80px;
  background-color: #FFFFFF;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  opacity: 0; }
  .search.active .search__container {
    background-color: #FFFFFF;
    z-index: 3;
    opacity: 1; }
  @media (min-width: 992px) {
    .search:hover .search__container {
      background-color: #FFFFFF;
      z-index: 3;
      opacity: 1; } }

.search__form {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #FFFFFF; }
  .header--home .search__form {
    background-color: transparent; }

.search__field-container {
  position: relative; }

.search__input {
  background-color: transparent;
  outline: none;
  border: none;
  height: 80px;
  padding-left: 20px;
  padding-right: 80px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #222222;
  width: 100%; }

.search__label {
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  position: absolute;
  left: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  top: 18px;
  color: #222222; }
  @media (min-width: 992px) {
    .search__label {
      top: 28px; } }
  .search__input:focus ~ .search__label, .search__input.has-input ~ .search__label {
    top: 4px;
    font-size: 8px;
    color: #222222; }
    @media (min-width: 992px) {
      .search__input:focus ~ .search__label, .search__input.has-input ~ .search__label {
        top: 10px; } }

.hero-carousel {
  position: relative;
  overflow: hidden;
  padding-top: 80px; }

.hero-carousel__item {
  float: left;
  overflow: hidden;
  position: relative; }
  .hero-carousel__item img {
    width: 100%;
    display: block;
    float: left; }

.hero-carousel__content {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 710px;
  text-align: center; }

.hero-carousel__heading {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  display: inline-block;
  width: 100%;
  line-height: 1.4; }
  @media (min-width: 460px) {
    .hero-carousel__heading {
      font-size: 25px; } }
  @media (min-width: 768px) {
    .hero-carousel__heading {
      font-size: 30px; } }
  @media (min-width: 992px) {
    .hero-carousel__heading {
      font-size: 50px; } }
  @media (min-width: 1170px) {
    .hero-carousel__heading {
      font-size: 50px; } }
  .hero-carousel__heading strong {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #F9792F; }

.hero-carousel__pager {
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  position: absolute;
  bottom: 40px;
  left: 50%;
  display: none !important; }
  @media (min-width: 768px) {
    .hero-carousel__pager {
      display: block !important; } }
  .hero-carousel__pager a {
    text-indent: -9999px;
    display: inline-block;
    width: 15px;
    height: 10px;
    background: url("../img/icons/pager-off.png") no-repeat center center; }
    .hero-carousel__pager a.selected {
      background-image: url("../img/icons/pager-on.png"); }

.home__section, .home__section--grey {
  padding-top: 55px;
  padding-bottom: 55px; }

.home__section--grey {
  background-color: #F6F6F6; }

.home__into {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16;
  color: #222222;
  max-width: 800px;
  line-height: 1.4;
  font-weight: 300;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .home__into {
      font-size: 20px; } }
  @media (min-width: 992px) {
    .home__into {
      font-size: 25px; } }

.home__section-heading {
  color: #F9792F;
  margin: 0;
  width: 100%;
  text-align: center;
  display: block;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }
  @media (min-width: 992px) {
    .home__section-heading {
      font-size: 30px; } }

.home__service-list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.home__service-item {
  background: url("../img/icons/icon-cog.png") no-repeat 30px center;
  background-size: 50px 50px;
  margin-top: 50px;
  padding-left: 100px;
  width: 100%;
  min-height: 55px; }
  @media (min-width: 768px) {
    .home__service-item {
      width: 33%;
      padding-top: 135px;
      padding-left: 0;
      background-position: center top;
      background-size: auto;
      text-align: center; } }

.home__service-title {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #F9792F; }

.home__service-summary {
  font-size: 16;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #222222;
  margin: 5px 0 0; }
  @media (min-width: 768px) {
    .home__service-summary {
      margin: 20px auto 0;
      max-width: 325px; } }

.home__service-control {
  text-align: center;
  padding-top: 30px; }
  @media (min-width: 768px) {
    .home__service-control {
      padding-top: 0; } }

.button, .button--orange {
  border: 1px solid #FFFFFF;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  margin-top: 15px;
  display: inline-block;
  padding: 14px 23px;
  color: #FFFFFF;
  text-decoration: none; }
  .button:hover, .button--orange:hover {
    color: #F9792F;
    text-decoration: none; }
  @media (min-width: 460px) {
    .button, .button--orange {
      margin-top: 25px; } }
  @media (min-width: 768px) {
    .button, .button--orange {
      margin-top: 35px; } }
  @media (min-width: 992px) {
    .button, .button--orange {
      margin-top: 45px; } }
  @media (min-width: 1170px) {
    .button, .button--orange {
      margin-top: 55px; } }

.button--orange {
  border-color: #F9792F;
  color: #222222; }

/*# sourceMappingURL=main.css.map */
