// ----------------------------------------------------------
// =Paths
// ----------------------------------------------------------
	$base:							"../";
	$images:						"#{$base}img/";
	$icons: 						"#{$images}icons/";


// ----------------------------------------------------------
// =Colours
// ----------------------------------------------------------
	$orange: #F9792F;
	$white:	#FFFFFF;
	$almost-white: #F6F6F6;
	$light-grey: #888888;
	$dark-grey: #222222;


// ----------------------------------------------------------
// =Typography
// ----------------------------------------------------------
	$font-regular: 'Open Sans', sans-serif;

	$font-xxl: 50px;
	$font-xl: 30px;
	$font-l: 25px;
	$font-m: 20px;
	$font-s: 16;
	$font-xs: 13px;
	$font-xxs: 12px;


// ----------------------------------------------------------
// =Guards and grids
// ----------------------------------------------------------
	$gutter-size: 24px;

	// Guard/breakpoint sizes	
	$guards: (
		xs: 460px,
		sm: 768px,
		md: 992px,
		lg: 1170px
	);